
.office-item-component {

  // Transitions
  &.slide-up-enter-active,
  &.slide-up-leave-active {
    transition: all .2s ease;
    max-height: 500px;
  }
  &.slide-up-enter,
  &.slide-up-leave-to {
    max-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
  }

  >.contact-info {
    margin-top: -5px;

    // Transitions
    &.slide-down-enter-active,
    &.slide-down-leave-active {
      transition: all .3s ease;
      max-height: 300px;
    }
    &.slide-down-enter,
    &.slide-down-leave-to {
      max-height: 0px;
      padding-top: 2px;
      padding-bottom: 2px;
      opacity: 0;
    }
  }
}
